{% extends 'base.html' %}

{% block title %}
<title>Anunțuri</title>
{% endblock title %}


{% block content %}  

<div class="relative flex flex-col justify-center items-center h-full pt-20">
    <div class="md:w-[50vw] w-[90vw] rounded-xl text-black shadow-2xl" style="overflow:hidden;">
        <div id="slideShow" class="md:w-[300vw] w-[540vw] h-[50vh] flex duration-500">
            <div id="singleSlide" class="md:w-[50vw] w-[90vw] h-[50vh] flex">
                <div class="w-full p-4 bg-[#f4f8fb] flex flex-col justify-center items-center gap-3">
                    <p class="w-[80%] md:text-3xl text-xl font-noto text-[#762424] flex justify-center border-b-2 border-[#762424]">Anunț1</p>
                    <p class="w-[80%] md:text-xl text-base indent-8"> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione, fugit ipsum nesciunt quaerat cumque at dignissimos enim! Adipisci consectetur animi iure similique. Consectetur neque rem harum molestiae, beatae odio eius dignissimos, recusandae est quod pariatur provident quam praesentium. A cumque aspernatur odio nisi debitis soluta vel fugiat suscipit voluptatem ipsa.</p>
                </div>
            </div>
            <div class="md:w-[50vw] w-[90vw] h-[50vh] flex">
                <div class="w-full p-4 bg-[#f4f8fb] flex flex-col  items-center gap-3">
                    <p class="w-[80%] md:text-3xl text-xl font-noto text-[#762424] flex justify-center border-b-2 border-[#762424]">Anunț2</p>
                    <p class="w-[80%] h-[calc(100%-41px)] flex justify-center items-center indent-8 "> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione, fugit ipsum nesciunt quaerat cumque at dignissimos enim! Adipisci consectetur animi iure similique. Consectetur neque rem harum molestiae, beatae odio eius dignissimos, recusandae est quod pariatur provident quam praesentium. A cumque aspernatur odio nisi debitis soluta vel fugiat suscipit voluptatem ipsa.</p>
                </div>
            </div>
            <div class="md:w-[50vw] w-[90vw] h-[50vh] flex">
                <div class="w-full p-4 bg-[#f4f8fb] flex flex-col justify-center items-center gap-3">
                    <p class="w-[80%] md:text-3xl text-xl font-noto text-[#762424] flex justify-center border-b-2 border-[#762424]">Anunț3</p>
                    <p class="w-[80%] md:text-xl text-base indent-8"> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione, fugit ipsum nesciunt quaerat cumque at dignissimos enim! Adipisci consectetur animi iure similique. Consectetur neque rem harum molestiae, beatae odio eius dignissimos, recusandae est quod pariatur provident quam praesentium. A cumque aspernatur odio nisi debitis soluta vel fugiat suscipit voluptatem ipsa.</p>
                </div>
            </div>
            <div class="md:w-[50vw] w-[90vw] h-[50vh] flex">
                <div class="w-full p-4 bg-[#f4f8fb] flex flex-col justify-center items-center gap-3">
                    <p class="w-[80%] md:text-3xl text-xl font-noto text-[#762424] flex justify-center border-b-2 border-[#762424]">Anunț4</p>
                    <p class="w-[80%] md:text-xl text-base indent-8"> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione, fugit ipsum nesciunt quaerat cumque at dignissimos enim! Adipisci consectetur animi iure similique. Consectetur neque rem harum molestiae, beatae odio eius dignissimos, recusandae est quod pariatur provident quam praesentium. A cumque aspernatur odio nisi debitis soluta vel fugiat suscipit voluptatem ipsa.</p>
                </div>                        
            </div>
            <div class="md:w-[50vw] w-[90vw] h-[50vh] flex">
                <div class="w-full p-4 bg-[#f4f8fb] flex flex-col justify-center items-center gap-3">
                    <p class="w-[80%] md:text-3xl text-xl font-noto text-[#762424] flex justify-center border-b-2 border-[#762424]">Anunț5</p>
                    <p class="w-[80%] md:text-xl text-base indent-8"> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione, fugit ipsum nesciunt quaerat cumque at dignissimos enim! Adipisci consectetur animi iure similique. Consectetur neque rem harum molestiae, beatae odio eius dignissimos, recusandae est quod pariatur provident quam praesentium. A cumque aspernatur odio nisi debitis soluta vel fugiat suscipit voluptatem ipsa.</p>
                </div>                        
            </div>
            <div class="md:w-[50vw] w-[90vw] h-[50vh] flex">
                <div class="w-full p-4 bg-[#f4f8fb] flex flex-col justify-center items-center gap-3">
                    <p class="w-[80%] md:text-3xl text-xl font-noto text-[#762424] flex justify-center border-b-2 border-[#762424]">Anunț1</p>
                    <p class="w-[80%] md:text-xl text-base indent-8"> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione, fugit ipsum nesciunt quaerat cumque at dignissimos enim! Adipisci consectetur animi iure similique. Consectetur neque rem harum molestiae, beatae odio eius dignissimos, recusandae est quod pariatur provident quam praesentium. A cumque aspernatur odio nisi debitis soluta vel fugiat suscipit voluptatem ipsa.</p>
                </div>                        
            </div>
        </div>
    </div>  

    <div class="relative w-[50vw] h-10 bg-transparent flex items-center justify-center text-white">
        <div class="absolute flex justify-center items-center gap-3">
            <button onclick="slideShow(1)">
                <svg id="i1" xmlns="http://www.w3.org/2000/svg" fill="black" viewBox="0 0 24 24" stroke-width="1.5" stroke="black" class="w-6 h-6 opacity-80 duration-500">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75l3 3m0 0l3-3m-3 3v-7.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>
            </button>
            <button onclick="slideShow(2)">
                <svg id="i2" xmlns="http://www.w3.org/2000/svg" fill="black" viewBox="0 0 24 24" stroke-width="1.5" stroke="black" class="w-5 h-5 opacity-50 hover:opacity-70 duration-500">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75l3 3m0 0l3-3m-3 3v-7.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>
            </button>
            <button onclick="slideShow(3)">
                <svg id="i3" xmlns="http://www.w3.org/2000/svg" fill="black" viewBox="0 0 24 24" stroke-width="1.5" stroke="black" class="w-5 h-5 opacity-50 hover:opacity-70 duration-500">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75l3 3m0 0l3-3m-3 3v-7.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>
            </button>
            <button onclick="slideShow(4)">
                <svg id="i4" xmlns="http://www.w3.org/2000/svg" fill="black" viewBox="0 0 24 24" stroke-width="1.5" stroke="black" class="w-5 h-5 opacity-50 hover:opacity-70 duration-500">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75l3 3m0 0l3-3m-3 3v-7.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>
            </button>
            <button onclick="slideShow(5)">
                <svg id="i5" xmlns="http://www.w3.org/2000/svg" fill="black" viewBox="0 0 24 24" stroke-width="1.5" stroke="black" class="w-5 h-5 opacity-50 hover:opacity-70 duration-500 ">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75l3 3m0 0l3-3m-3 3v-7.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>                                
            </button>
        </div>
    </div>
</div>
    <div class="w-[100vw] min-h-[70vh] flex justify-center my-10">
        <div class="md:w-[80vw]">
            {% for anunt in anunturi %}
                <h1 class="font-noto text-4xl text-[#762424]">{{anunt.titlu}}</h1>
                <p class="indent-8 my-4">{{anunt.text}}</p>
            {% endfor %}
        </div>
    </div>
<!-- 
    <div class="grid min-h-[80vh] grid-cols-1 lg:grid-cols-4 md:grid-cols-3 sm:grid-cols-2 w-[95vw] gap-5 font-roboto px-8 md:px-0 m-auto font-medium text-lg items-center pb-4">
        <a href="./template noutati.html" class="relative flex flex-col hover:shadow-xl rounded-lg border-2 border-zinc-400 h-[300px] bg-center bg-contain bg-no-repeat duration-500" style="background-image:url(https://www.mdlpa.ro/uploads/articole/attachments/60641f13b3990710387465.png)">
            <div class="w-[100%] bg-[#F4F4F9] absolute bottom-0 rounded-b-md pt-2 text-center place-self-center h-[50px]">Anunț 1</div>
        </a>
        <a href="./template noutati.html" class="relative flex flex-col hover:shadow-xl rounded-lg border-2 border-zinc-400 h-[300px] bg-center bg-cover bg-no-repeat duration-500" style="background-image:url(./assets/scan0003.jpg)">
            <div class="w-[100%] bg-[#F4F4F9] absolute bottom-0 rounded-b-md pt-2 text-center place-self-center h-[50px]">Anunț 2</div>
        </a>
        <a href="./template noutati.html" class="relative flex flex-col hover:shadow-xl rounded-lg border-2 border-zinc-400 h-[300px] bg-center bg-cover bg-no-repeat duration-500" style="background-image:url(./assets/scan0004.jpg);">
            <div class="w-[100%] bg-[#F4F4F9] absolute bottom-0 rounded-b-md pt-2 text-center place-self-center h-[50px]">Anunț 3</div>
        </a>
        <a href="./template noutati.html" class="relative flex flex-col hover:shadow-xl rounded-lg border-2 border-zinc-400 h-[300px] bg-center bg-cover bg-no-repeat duration-500" style="background-image:url(./assets/scan0006.jpg);">
            <div class="w-[100%] bg-[#F4F4F9] absolute bottom-0 rounded-b-md pt-2 text-center place-self-center h-[50px]">Anunț 4</div>
        </a>
    </div> -->
{% endblock content %}  
    