{% extends 'base.html' %}

{%block title%}
<title>Detalii bibliotecă</title>
{%endblock title%}


{% block content %}

    <div class="pt-24 w-[100vw] min-h-[70vh] flex flex-col items-center">
        <div class="md:w-[80vw] w-[90vw]">
            <h1 class="font-noto md:text-3xl text-2xl text-[#762424]">Descriere</h1>
            <p class="indent-8 my-4 md:text-xl text-lg">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. A cum ea hic
                architecto tempore, nostrum doloremque totam provident, odit, suscipit
                vitae nulla voluptas iste eos distinctio commodi? Unde nemo assumenda,
                corrupti repellat, placeat magni itaque aut doloribus sequi non
                necessitatibus eius harum dolor. Provident hic molestiae magnam.
                Deserunt, odio est?
            </p>

            <h1 class="font-noto md:text-3xl text-2xl text-[#762424]">
                Bibliotecara
            </h1>
            <p class="indent-8 my-4 md:text-xl text-lg">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, nostrum.
                Id quibusdam dolores odio debitis aperiam aliquam incidunt libero,
                laboriosam expedita quaerat quae soluta culpa blanditiis officiis.
                Odit, hic saepe!
            </p>
        </div>
    </div>

{% endblock content %}
