{% extends 'base.html' %}

{%block title%}
<title>Olimpici</title>
{%endblock title%}


{% block content %}
    
<div class="pt-20 grid min-h-[80vh] justify-items-center grid-cols-1 md:grid-cols-3 sm:grid-cols-2 w-[95vw] gap-3 font-roboto m-auto pb-5">
        {% for olimpic in olimpici %}
        <div class="max-w-sm w-full lg:max-w-full lg:flex">
            <div class="h-48 lg:h-auto lg:w-48 flex-none bg-cover rounded-t lg:rounded-t-none lg:rounded-l text-center overflow-hidden" style="background-image: url(./assets/{{olimpic.poza}})" title="placeholder"></div>
            <div class="border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between">
            <div class="text-[#762424] font-noto font-semibold text-xl mb-10">{{olimpic.nume}}</div>
              <div class="flex items-center">
                    <div class="text-sm font-roboto">
                        <p class="text-[#123]">{{olimpic.anul}}</p>
                        <p class="text-[#123]">{{olimpic.premiul}}</p>
                        <p>{{olimpic.concursul}}</p>
                    </div>
              </div>
            </div>
        </div>
        {% endfor %}

        
    </div>

{% endblock content %}
