{% extends 'base.html' %}

{%block title%}
<title>Template administrativ</title>
{%endblock title%}


{% block content %}
<div class="bg-cover bg-center bg-no-repeat pt-20 -z-10 h-64" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(assets/colegiul_banatean.jpg)"> </div>
    <div class="w-[100vw] bg-[#F4F4F9] text-base pt-2 -z-5 flex flex-col items-center">
        <div class="md:w-[80vw] w-[90vw]">
            <div class="w-[100%] min-h-[70vh] font-noto text-3xl font-semibold my-10 flex flex-col items-center">
                <h1>Transferuri</h1> 
                <div class="md:w-[80vw] w-[90vw] font-roboto text-lg font-extralight mt-10 grid md:grid-cols-2 grid-cols-1 gap-10">
                    <div class="flex gap-3 items-center">
                        <a href="./assets/transferuri/Procedura-operationala-privind-transferul-eleviilor-an-scolar-2022-2023-1.pdf" class="w-[85px] h-[100px] shadow-xl rounded-xl bg-cover bg-center" style="background-image: url(https://img.freepik.com/icones-gratuites/pdf_318-187733.jpg);">
                        </a>
                        <a href="./assets/transferuri/Procedura-operationala-privind-transferul-eleviilor-an-scolar-2022-2023-1.pdf">Procedura operationala privind transferul eleviilor an scolar 2022-2023</a>
                    </div>
                    <div class="flex gap-3 items-center">
                        <a href="./assets/transferuri/PROCEDURA-TRANSFER-ELEVI_FEBRUARIE-2023.pdf" class="w-[85px] h-[100px] shadow-xl rounded-xl bg-cover bg-center" style="background-image: url(https://img.freepik.com/icones-gratuites/pdf_318-187733.jpg);">
                        </a>
                        <a href="./assets/transferuri/PROCEDURA-TRANSFER-ELEVI_FEBRUARIE-2023.pdf">PROCEDURA TRANSFER ELEVI FEBRUARIE 2023</a>
                    </div>
                    <div class="flex gap-3 items-center">
                        <a href="./assets/transferuri/Programa-diferenta-clasa-a-IX-a-informatica.pdf" class="w-[85px] h-[100px] shadow-xl rounded-xl bg-cover bg-center" style="background-image: url(https://img.freepik.com/icones-gratuites/pdf_318-187733.jpg);">
                        </a>
                        <a href="./assets/transferuri/Programa-diferenta-clasa-a-IX-a-informatica.pdf">Programa diferenta clasa a IX-a informatica</a>
                    </div>
                    <div class="flex gap-3 items-center">
                        <a href="./assets/transferuri/Programa-diferenta-clasa-a-X-a-informatica.pdf" class="w-[85px] h-[100px] shadow-xl rounded-xl bg-cover bg-center" style="background-image: url(https://img.freepik.com/icones-gratuites/pdf_318-187733.jpg);">
                        </a>
                        <a href="./assets/transferuri/Programa-diferenta-clasa-a-X-a-informatica.pdf">Programa diferenta clasa a X-a informatica</a>
                    </div>
                    <div class="flex gap-3 items-center">
                        <a href="./assets/transferuri/Programa-diferenta-clasa-a-XI-a-informatica.pdf" class="w-[85px] h-[100px] shadow-xl rounded-xl bg-cover bg-center" style="background-image: url(https://img.freepik.com/icones-gratuites/pdf_318-187733.jpg);">
                        </a>
                        <a href="./assets/transferuri/Programa-diferenta-clasa-a-XI-a-informatica.pdf">Programa diferenta clasa a XI-a informatica</a>
                    </div>
                    <div class="flex gap-3 items-center">
                        <a href="./assets/transferuri/REZULTATE-_FINALE_TRANSFERURI_2022_2023.pdf" class="w-[85px] h-[100px] shadow-xl rounded-xl bg-cover bg-center" style="background-image: url(https://img.freepik.com/icones-gratuites/pdf_318-187733.jpg);">
                        </a>
                        <a href="./assets/transferuri/REZULTATE-_FINALE_TRANSFERURI_2022_2023.pdf">REZULTATE FINALE TRANSFERURI 2022-2023</a>
                    </div>
                    <div class="flex gap-3 items-center">
                        <a href="./assets/transferuri/REZULTATE-TRANSFER-ELEVI_FEBRUARIE-2023.pdf" class="w-[85px] h-[100px] shadow-xl rounded-xl bg-cover bg-center" style="background-image: url(https://img.freepik.com/icones-gratuites/pdf_318-187733.jpg);">
                        </a>
                        <a href="./assets/transferuri/REZULTATE-TRANSFER-ELEVI_FEBRUARIE-2023.pdf">REZULTATE TRANSFER ELEVI FEBRUARIE 2023</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
